* {
  margin: 0;
  padding: 0;
}
.heading {
  background-color: purple;
  color: white;
  font-size: 3rem;
  padding: 10px;
  text-align: center;
}
.card {
  width: 360px;
  margin: 20px;
  background-color: rgb(114, 186, 245);
  padding: 10px;
  outline: none;
  box-shadow: 10px 10px 10px rgb(204, 204, 204);
  border-radius: 5px;
}
.card-title {
  color: rgb(49, 46, 46);
  font-size: 2rem;
  text-align: center;
}
.card-des {
  font-size: 1.2rem;
  margin: 10px;
  color: rgb(43, 47, 51);
}
